.sidenav {
    background-color: rgb(129, 18, 18) ;
    width:200px;
}

.sidenav  a {
    color: #fff;
}

.sidenav i {
 padding-right: 10px;
}

.content {
    padding: 16px;
    background-color:#fff;
}